body {
    margin: 0;
    padding: 0%;
    background-color: white;
    border-top: 1px #CCCCCC;
    font-family: Circular, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #484848;
}

.container{
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

}